<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <h1  style="margin-bottom:5px"> Books </h1>
    <div class="grid">
        <div class="row">
          {{ range .Data.Pages }}
            {{ if eq .Params.isBook true }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <h4 style="margin-top:0px"> <a href="{{ .Permalink }}" style="color:#000000" >{{ .Params.EventName }}</a> </h4>
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                              {{ if .Params.EventDescription }}
                                {{ .Params.EventDescription }}
                                <br>
                                <br>
                              {{end}}
                              {{ if .Params.Description }}
                                {{ .Params.Description }}
                              {{ else }}
                                {{ .Summary }}
                              {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
            {{ end }}
          {{ end }}
        </div>
    </div>
    <h1 style="margin-bottom:5px"> News </h1>
    <div class="grid">
      <div class="row">
        {{ range .Data.Pages }}
          {{ if eq .Params.isBook false }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
              <a href="{{ .Permalink }}" style="color:#000000">{{ .Params.date | time.Format "2006-01-02" }}<br>{{ .Params.title }}</a>
                <div class="box-masonry">
                    {{ if and (isset .Params "image") .Params.image }}
                      {{ if eq .Params.showonlyimage true }}
                      <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                      {{ else }}
                      <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                      {{ end }}
                          <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                      </a>
                    {{ end }}
                    {{ if eq .Params.showonlyimage true }}
                    <div class="box-masonry-hover-text-header">
                    {{ else }}
                    <div class="box-masonry-text">
                    {{ end }}
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        <div class="box-masonry-description">
                          <p>
                            {{ if .Params.EventDescription }}
                              {{ .Params.EventDescription }}
                              <br>
                              <br>
                            {{end}}
                            {{ if .Params.Description }}
                              {{ .Params.Description }}
                            {{ else }}
                              {{ .Summary }}
                            {{ end }}
                          </p>
                        </div>
                    </div>
                </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
  </div>
</div>
