<div class="col-xs-12 col-sm-8 col-md-9 content-column">
{{ partial "mobile_nav_toggle.html" . }}

<div style="margin-bottom:10px;">
  <h1 style="display:inline;">C107 取り置き</h1> <p style="display:inline;color:#505050;"><i>Created by <a href="https://twitter.com/olonmol">こじ@olonmol</a></i></p><br>
</div>
<div class="" style="margin-bottom:10px;">
    <div class="row justify-content-start">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-wqhd-12" style="margin-bottom:5px;">
        下記の外部サイトで受付中。
        <ul>
          <li>登録/変更は<B>2025/12/30 昼12:00</B>まで</li>
          <li>受け取り時は予約IDを見せてください</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-wqhd-12">
        <div class="iframely-embed">
          <div class="iframely-responsive" style="height: 140px; padding-bottom: 0;">
            <a href="https://d2xzo3cc4hi6ut.cloudfront.net" data-iframely-url="https://iframely.net/9kblD74l?theme=light"></a>
          </div>
        </div>
        <script async src="https://iframely.net/embed.js"></script>
      </div>
    </div>
</div>

<h1  style="margin-bottom:5px"> Books </h1>
<div class="">
    <div class="row justify-content-start">
      {{ range $index, $element := where .Site.Pages ".Params.isMenu" false }}
        {{ if eq $element.Params.isBook true }}
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 col-wqhd-6">
              <h4 style="margin-top:0px"> <a href="{{ $element.Permalink }}" style="color:#000000" >{{ $element.Params.EventName }}</a> </h4>
              <div class="box-masonry">
                  {{ if and (isset $element.Params "image") $element.Params.image }}
                    {{ if eq $element.Params.showonlyimage true }}
                    <a href="{{ $element.Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                    {{ else }}
                    <a href="{{ $element.Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    {{ end }}
                        <img src="{{$element.Params.image | absURL}}" alt="" class="img-responsive">
                    </a>
                  {{ end }}
                  {{ if eq $element.Params.showonlyimage true }}
                  <div class="box-masonry-hover-text-header">
                  {{ else }}
                  <div class="box-masonry-text">
                  {{ end }}
                      <h4><a href="{{ $element.Permalink }}">{{ $element.Title }}</a></h4>
                      <div class="box-masonry-description">
                        <p>
                          {{ if $element.Params.EventDescription }}
                            {{ $element.Params.EventDescription }}
                            <br>
                            <br>
                          {{end}}
                          {{ if $element.Params.Description }}
                            {{ $element.Params.Description }}
                          {{ else }}
                            {{ $element.Summary }}
                          {{ end }}
                        </p>
                      </div>
                  </div>
              </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <h1 style="margin-bottom:5px;"> News </h1>
  <div class="row grid">
    {{ range $index, $element := where .Site.Pages ".Params.isMenu" false }}
      {{ if eq $element.Params.isBook false }}
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 masonry-item col-wqhd-6">
          <a href="{{ $element.Permalink }}" style="color:#000000">{{ $element.Params.date | time.Format "2006-01-02" }}<br>{{ $element.Params.title }}</a>
            <div class="box-masonry">
                {{ if and (isset $element.Params "image") $element.Params.image }}
                  {{ if eq $element.Params.showonlyimage true }}
                  <a href="{{ $element.Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                  {{ else }}
                  <a href="{{ $element.Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                  {{ end }}
                      <img src="{{$element.Params.image | absURL}}" alt="" class="img-responsive">
                  </a>
                {{ end }}
                {{ if eq .Params.showonlyimage true }}
                <div class="box-masonry-hover-text-header">
                {{ else }}
                <div class="box-masonry-text">
                {{ end }}
                    <h4><a href="{{ $element.Permalink }}">{{ .Title }}</a></h4>
                    <div class="box-masonry-description">
                      <p>
                        {{ if $element.Params.EventDescription }}
                          {{ $element.Params.EventDescription }}
                          <br>
                          <br>
                        {{end}}
                        {{ if $element.Params.Description }}
                          {{ $element.Params.Description }}
                        {{ else }}
                          {{ $element.Summary }}
                        {{ end }}
                      </p>
                    </div>
                </div>
            </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
